@use "fonts.css";

$container-width: min(calc(95%), 1170px);
$primary-dark-blue: #262A3F;
$text_red: #F1897B;
$text-greeen: #85BBB1;

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a, button {
    transition: all .2s ease;
}
a {
    text-decoration: none;
    color: $primary-dark-blue;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.07rem;
}
button {
    cursor: pointer;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: $container-width;
    margin: 0 auto;
}

body {
    font-size: 1rem;
    color: $primary-dark-blue;
    overflow-y: scroll;
    font-family: Lato, sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    main {
        flex-grow: 1;
    }
}
.btn {
    font-family: Lato,sans-serif;

    background: none;
    border: none;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 100% */
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    color: $text_red;
}
header {
    margin-top: 30px;
    padding: 20px 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.24) 24.1%, rgba(255, 255, 255, 0.00) 47.19%), rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(4.5px);
    .container {
        display: flex;
        justify-content: space-between;

        nav {
            align-content: center;
            ul {
                display: flex;
                gap: 30px
            }
        }
    }
}