@use "base" as *;

[data-theme="dark"] {
  body {
    background-image: url("/assets/images/dark/bg-image.jpg");
  }
}

body {
  background: url("/assets/images/light/bg-image.jpg") no-repeat top center/contain local;
}


.hero {
  .container {
    padding: 150px 0;
    .first-screen {
      max-width: 530px;

      h1 {
        margin-bottom: 20px;
        color: $primary-dark-blue;
        font-family: "Playfair Display", serif;
        font-size: 2.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.25rem; /* 118.182% */
        i {
          color: $text-greeen;
          font-style: italic;
        }
      }
      p {
        margin-bottom: 50px;
        color: $primary-dark-blue;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.625rem; /* 144.444% */
        opacity: 0.8;
        max-width: 439px;
      }

    }

  }
}

.statistics-info {
  background-image: url("assets/images/dark/bg-gradient.svg");
  background-size: cover;
  background-position: -10px;
  margin-bottom: 120px;
  .container {
    border-bottom: 1px solid #E4E4E4;
    position: relative;
    .img-wrap {
      max-width: 570px;
    }
    .text-wrap {
      top: 0;
      transform: translateY(8%);
      left: 34%;
      padding: 45px 3px 45px 0;
      opacity: 0.9;
      background: #FFF;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;

      p {
        color: $primary-dark-blue;
        font-family: Lato, sans-serif;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.625rem; /* 144.444% */

        opacity: 0.8;
      }
      .stats-list {
        gap: 80px;
        display: flex;
        flex-direction: column;
        h2 {
          display: block;
          margin-bottom: 12px;
          font-size: 4.25rem;
          line-height: 4.5rem; /* 105.882% */
          color: $primary-dark-blue;
          text-align: center;
          font-family: "Playfair Display", sans-serif;
          font-style: normal;
          font-weight: 400;
        }
        p {
          display: block;
          text-align: center;
        }

      }
      .content {
        p {
          margin-bottom: 50px;
          &:first-child {
            margin-bottom: 35px;
          }
        }
      }
    }
  }
}