@use "base" as *;

p {
  color: $primary-dark-blue;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.012rem;
  line-height: 1.625rem; /* 144.444% */
  opacity: 0.8;
}
@mixin h_tag($font_size, $line-height) {
  color: $primary-dark-blue;
  font-family: "Playfair Display", serif;
  font-size: $font_size;
  font-style: normal;
  font-weight: 400;
  line-height: $line-height; /* 118.182% */
  i {
    color: $text-greeen;
    font-style: italic;
  }
}
h1 {
  @include h_tag(2.75rem, 3.25rem);
}
h2 {
  @include h_tag(2.5rem, 3rem);
}
[data-theme="dark"] {
  body {
    background-image: url("/assets/images/dark/bg-image.jpg");
  }
}

body {
  background: url("/assets/images/light/bg-image.jpg") no-repeat top center/contain local;
}


.hero {
  padding: 150px 0;

  .first-screen {
    max-width: 530px;

    h1 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 50px;
      max-width: 439px;
    }
  }
}

.section-info {
  background-image: url("assets/images/dark/bg-gradient.svg");
  background-size: cover;
  background-position: -10px;
  margin-bottom: 120px;
  height: 670px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;

  .img-wrap {
    left: 0;
    position: absolute;
  }

  .text-wrap {
    padding: 45px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 0.9;
    background: #FFF;
    max-width: 770px;
    align-self: center;

    .stats-list {
      li:not(:last-child)::after {
        content: "";
        display: block;
        top: 39px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        width: 100px;
        height: 1px;
        background: black;
        opacity: .3;
      }

      margin-right: 12px;
      gap: 79px;
      display: flex;
      flex-direction: column;

      .title {
        .dollar_sing {
          opacity: 0.7;
          margin-right: 10px;
          display: inline;
          color: var(--Primary-Grey, #E4E4E4);
          text-align: center;
          font-family: "Playfair Display", sans-serif;
          font-size: 2.5rem;
          font-style: normal;
          font-weight: 400;
          line-height: 3.125rem; /* 125% */
        }

        display: block;
        margin-bottom: 12px;
        font-size: 4.25rem;
        line-height: 4.5rem; /* 105.882% */
        color: $primary-dark-blue;
        text-align: center;
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-weight: 400;
      }

      p.info {
        display: block;
        text-align: center;
      }

    }

    .content {
      margin-left: -15px;
      letter-spacing: 0.009rem;

      p {
        margin-bottom: 50px;

        &:first-child {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.section-benefits {
  p {
    letter-spacing: 0.012rem;
  }
  margin-bottom: 127px;
  .pr-60 {
    padding-right: 60px;

  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 90px;
    column-gap: 30px;
    li {
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      padding: 51px 54px 18px 35px;
      h2 {
        margin-bottom: 31px;
      }
    }
  }
}
.blockquote {
  background: url("/assets/images/quote-background.jpg") center center no-repeat;
  position: relative;
  margin-bottom: 120px;
  //height: 400px;
  svg {
    position: absolute;
    top: 70px;
    left: 100px;
    width: 102px;
    height: 84px;
  }
  .content {
    padding: 100px 300px 100px 160px;
    p {
      color: #FFF;
      //font-family: Lato, sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.875rem; /* 143.75% */
      letter-spacing: 0.09rem;
      margin-bottom: 41px;
    }
    cite {
      color: #FFF;
      font-family: "Playfair Display";
      font-size: 1.25rem;
      font-style: italic;
      font-weight: 400;
      line-height: 1.25rem; /* 100% */
      letter-spacing: 0.1rem;
    }
  }
}

.section-video {
  margin-bottom: 120px;
  h2 {
    margin-bottom: 25px;
  }
  .container {
    width: calc($container-width - 200px);
  }
  p {
    width:  calc(100% - 100px);
    letter-spacing: 0.009rem;
  }
  .video-wrap {
    margin-bottom: 52px;
    padding: 30px 70px 30px 30px;

    width: 970px;
    height: 600px;
    background-image: url("/assets/images/screensaver-video.png");
    background-repeat: no-repeat;
    background-size: 870px 540px;
    background-position: 30px;

    border-radius: 32px;
    border: 1px solid var(--Primary-Grey, #E4E4E4);
    position: relative;
    .ipad-circles {
      svg {
        position: relative;
        &:first-child {
          left: -22px;
        }
        &:last-child {
          left: 57px;
        }

      }
      position: relative;
      top: calc(50% - 17px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto 0;
    }
  }
}