/* lato-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v24-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair-display-v39-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/playfair-display-v39-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: min(95%, 1170px);
  margin: 0 auto;
}

body {
  font-size: 1rem;
  color: #262A3F;
  overflow-y: scroll;
  font-family: Lato, sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-wrapper main {
  flex-grow: 1;
}

ul, ol {
  list-style: none;
}

a, button {
  transition: all 0.2s ease;
}

input {
  border: none;
}

input {
  border-bottom: 1px solid #E4E4E4;
  height: 32px;
  padding-bottom: 12px;
  width: 100%;
  color: #262A3F;
  opacity: 0.6;
  font-family: "Playfair Display", sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25rem; /* 111.111% */
  letter-spacing: 0.09rem;
}

form {
  width: 470px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
  border: none;
}
form label {
  width: 100%;
}

a {
  text-decoration: none;
  color: #262A3F;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.07rem;
  position: relative;
}
a::after {
  transition: all 0.2s ease;
  content: "";
  width: 0;
  left: 0;
  display: block;
  position: absolute;
  height: 3px;
  opacity: 0.4;
  background-color: #F1897B;
}
a:hover::after, a:focus::after {
  width: 100%;
}
a:active {
  scale: 1.3;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: relative;
  top: -1px;
  transition: all 0.3s ease;
}
.logo:hover {
  scale: 1.2;
}

.btn {
  transition: all 0.2s ease;
  font-family: Lato, sans-serif;
  background: none;
  border: none;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 100% */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #F1897B;
}
.btn.btn-big {
  margin-block: 12px;
  position: relative;
  border: 1px solid rgba(241, 137, 123, 0.25);
}
.btn.btn-big span {
  position: relative;
  top: -2px;
  left: -3px;
}
.btn:hover, .btn:focus {
  color: #E54F3A;
}
.btn:hover.btn-big, .btn:focus.btn-big {
  border: 1px solid #E54F3A;
}
.btn:hover span::after, .btn:focus span::after {
  background-color: #E54F3A;
}
.btn:active span {
  scale: 1.3;
}
.btn:active span::after {
  scale: 0.3;
}
.btn span {
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}
.btn span::after {
  transition: all 0.2s ease;
  width: 98%;
  content: "";
  top: 52%;
  left: 10px;
  position: absolute;
  height: 14px;
  opacity: 0.3;
  background-color: #F1897B;
}

h1 {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem; /* 118.182% */
}
h1 i {
  color: #85BBB1;
  font-style: italic;
}

h2 {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 118.182% */
}
h2 i {
  color: #85BBB1;
  font-style: italic;
}

h3 {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 118.182% */
}
h3 i {
  color: #85BBB1;
  font-style: italic;
}

h4 {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 118.182% */
}
h4 i {
  color: #85BBB1;
  font-style: italic;
}

h5 {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 118.182% */
}
h5 i {
  color: #85BBB1;
  font-style: italic;
}

h6 {
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 118.182% */
}
h6 i {
  color: #85BBB1;
  font-style: italic;
}

p {
  color: #262A3F;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.012rem;
  line-height: 1.625rem; /* 144.444% */
  opacity: 0.8;
}

cite {
  color: #FFF;
  font-family: "Playfair Display", sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25rem; /* 100% */
  letter-spacing: 0.1rem;
}

.img-wrap {
  left: 0;
  position: absolute;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 670px) {
  .hamburger {
    display: block;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 30px;
  padding: 25px 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4.5px);
}
@media screen and (max-width: 768px) {
  header {
    margin-top: 0;
  }
}
@media screen and (max-width: 670px) {
  header nav {
    display: none;
  }
  header .hamburger {
    visibility: visible;
    opacity: 1;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container nav {
  align-content: center;
}
header .container nav ul {
  display: flex;
  gap: 28px;
}

.op-06 {
  opacity: 0.6;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.01rem;
  border-top: 1px solid #E4E4E4;
  height: 90px;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.625rem; /* 185.714% */
}
footer .made-by {
  display: inline-block;
  margin-right: 9px;
}
footer nav ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

iframe {
  transition: all 0.5s ease;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.play-button {
  border: none;
  background: none;
  position: absolute;
  height: 120px;
  width: 120px;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);
}
.play-button:hover {
  opacity: 0.5;
}

[data-theme=dark] body {
  background-image: url("/assets/images/dark/bg.png");
}

body {
  background: url("/assets/images/light/bg.jpg") no-repeat top center/contain local;
}

.hero {
  padding: 150px 0;
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 110px 0;
  }
}
.hero .first-screen {
  max-width: 530px;
}
.hero .first-screen h1 {
  margin-bottom: 20px;
}
.hero .first-screen p {
  margin-bottom: 50px;
  max-width: 439px;
}

.section-info {
  margin-bottom: 120px;
  height: 670px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
}
@media screen and (max-width: 809px) {
  .section-info .img-wrap {
    width: 100%;
    height: 100%;
  }
}
.section-info .text-wrap {
  padding: 45px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0.9;
  background: #FFF;
  max-width: 770px;
  align-self: center;
}
@media screen and (max-width: 809px) {
  .section-info .text-wrap {
    padding: 90px 0;
  }
}
@media screen and (max-width: 425px) {
  .section-info .text-wrap {
    grid-template-columns: 1fr;
  }
}
.section-info .text-wrap .stats-list {
  margin-right: 12px;
  gap: 79px;
  display: flex;
  flex-direction: column;
}
.section-info .text-wrap .stats-list li:not(:last-child)::after {
  content: "";
  display: block;
  top: 39px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 100px;
  height: 1px;
  opacity: 0.3;
}
.section-info .text-wrap .stats-list .title {
  display: block;
  margin-bottom: 12px;
  font-size: 4.25rem;
  line-height: 4.5rem; /* 105.882% */
  color: #262A3F;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.section-info .text-wrap .stats-list .title .dollar_sing {
  opacity: 0.7;
  margin-right: 10px;
  display: inline;
  color: #E4E4E4;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.125rem; /* 125% */
}
.section-info .text-wrap .stats-list p.info {
  display: block;
  text-align: center;
}
.section-info .text-wrap .content {
  margin-left: -15px;
  letter-spacing: 0.009rem;
}
.section-info .text-wrap .content p {
  margin-bottom: 50px;
}
.section-info .text-wrap .content p:first-child {
  margin-bottom: 30px;
}

.section-benefits {
  margin-bottom: 127px;
}
.section-benefits p {
  letter-spacing: 0.012rem;
}
@media screen and (max-width: 900px) {
  .section-benefits {
    margin-bottom: 70px;
  }
}
.section-benefits ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 90px;
  column-gap: 30px;
}
@media (max-width: 900px) {
  .section-benefits ul {
    grid-template-columns: 1fr;
    row-gap: 45px;
  }
}
.section-benefits ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 51px 54px 18px 35px;
}
@media screen and (max-width: 425px) {
  .section-benefits ul li {
    padding: 0;
  }
}
.section-benefits ul li h2 {
  margin-bottom: 31px;
}

.blockquote {
  background: url("/assets/images/quote-background.jpg") center center no-repeat;
  position: relative;
  margin-bottom: 150px;
}
@media screen and (max-width: 425px) {
  .blockquote {
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .blockquote {
    margin-bottom: 70px;
  }
}
.blockquote svg {
  position: absolute;
  width: 102px;
  height: 84px;
  top: 70px;
  left: 100px;
}
@media screen and (max-width: 1024px) {
  .blockquote svg {
    left: 30px;
    top: 40px;
    scale: 0.9;
  }
}
@media screen and (max-width: 1024px) {
  .blockquote svg {
    left: 15px;
    top: 20px;
    scale: 0.9;
  }
}
.blockquote .content {
  padding: 100px 300px 100px 160px;
}
@media screen and (max-width: 1024px) {
  .blockquote .content {
    padding: 70px;
  }
}
@media screen and (max-width: 425px) {
  .blockquote .content {
    padding: 75px 35px;
  }
}
.blockquote .content p {
  max-width: 770px;
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.875rem; /* 143.75% */
  letter-spacing: 0.09rem;
  margin-bottom: 41px;
}

.section-video {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .section-video {
    margin-bottom: 70px;
  }
}
.section-video h2 {
  margin-bottom: 25px;
}
.section-video .container {
  width: calc(min(95%, 1170px) - 200px);
}
@media screen and (max-width: 1024px) {
  .section-video .container {
    width: 95%;
  }
}
.section-video p {
  width: calc(100% - 100px);
  letter-spacing: 0.009rem;
}
.section-video .video-wrap {
  margin-bottom: 76px;
  padding: 30px 70px 30px 30px;
  border-radius: 32px;
  aspect-ratio: 16/9;
  border: 1px solid #E4E4E4;
  position: relative;
}
@media screen and (max-width: 768px) {
  .section-video .video-wrap {
    margin-bottom: 40px;
    padding-right: 50px;
  }
}
.section-video .video-wrap .inner-video-wrap {
  background-image: url("/assets/images/screensaver-video.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border: 1px solid #E4E4E4;
}
.section-video .video-wrap .play-button {
  top: 50%;
}
.section-video .video-wrap .circle {
  position: absolute;
  top: calc(50% - 17px);
}
.section-video .video-wrap .circle-sm {
  top: calc(50% - 7px);
  left: 7px;
}
.section-video .video-wrap .circle-xl {
  top: calc(50% - 17px);
  left: 95%;
}
@media screen and (max-width: 768px) {
  .section-video .video-wrap .circle-xl {
    left: 94%;
  }
}

.section-promises {
  margin-bottom: 120px;
  height: 540px;
  display: flex;
  justify-content: end;
  position: relative;
}
@media screen and (max-width: 900px) {
  .section-promises {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .section-promises .img-wrap {
    width: 100%;
    height: 100%;
  }
}
.section-promises .content-wrap {
  height: 450px;
  padding: 75px 1px 75px 69px;
  max-width: 771px;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  align-self: center;
  row-gap: 60px;
  column-gap: 100px;
  opacity: 0.9;
  background: #FFF;
}
@media screen and (max-width: 900px) {
  .section-promises .content-wrap {
    height: 80%;
    gap: 5px;
    padding: 20px;
    width: 75%;
    grid-template-columns: 1fr;
  }
  .section-promises .content-wrap .btn {
    padding-block: 15px;
  }
}
.section-promises .content-wrap .mb-30 {
  margin-bottom: 10px;
}
.section-promises .content-wrap .item p {
  letter-spacing: 0.011rem;
}
.section-promises .content-wrap .item h6 {
  margin-bottom: 7px;
}

.section-client-reviews {
  margin-bottom: 100px;
}
@media screen and (max-width: 900px) {
  .section-client-reviews {
    margin-bottom: 65px;
  }
}
.section-client-reviews hgroup {
  margin-bottom: 50px;
  width: 400px;
}
@media screen and (max-width: 1024px) {
  .section-client-reviews hgroup {
    width: 75%;
  }
}
.section-client-reviews hgroup h2 {
  margin-bottom: 20px;
}
.section-client-reviews ul {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 900px) {
  .section-client-reviews ul {
    flex-direction: column;
    gap: 20px;
  }
}
.section-client-reviews ul li {
  position: relative;
  height: 340px;
  width: 370px;
}
@media screen and (max-width: 1170px) {
  .section-client-reviews ul li {
    height: auto;
  }
}
@media screen and (max-width: 900px) {
  .section-client-reviews ul li {
    height: 240px;
    width: 100%;
  }
}
.section-client-reviews ul li .img-wrap {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.section-client-reviews ul li blockquote {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(25, 28, 41, 0.6);
  padding: 30px 40px;
}
@media screen and (max-width: 1170px) {
  .section-client-reviews ul li blockquote {
    gap: 50px;
  }
}
.section-client-reviews ul li blockquote p {
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}

.section-cta {
  border-top: 1px solid #E4E4E4;
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .section-cta {
    padding-top: 30px;
  }
}
.section-cta hgroup {
  padding-top: 15px;
}
.section-cta hgroup h2 {
  margin-bottom: 25px;
}
.section-cta .contact-us {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.section-cta .contact-us p {
  letter-spacing: 0.02rem;
}
@media screen and (max-width: 900px) {
  .section-cta .contact-us {
    margin-bottom: 60px;
    flex-direction: column;
  }
  .section-cta .contact-us form {
    align-self: center;
  }
  .section-cta .contact-us hgroup {
    margin-bottom: 50px;
    align-self: center;
  }
}

/*# sourceMappingURL=index.css.map */
