/* lato-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v24-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair-display-v39-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* playfair-display-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/playfair-display-v39-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a, button {
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: #262A3F;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.07rem;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: min(95%, 1170px);
  margin: 0 auto;
}

body {
  font-size: 1rem;
  color: #262A3F;
  overflow-y: scroll;
  font-family: Lato, sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-wrapper main {
  flex-grow: 1;
}

.btn {
  font-family: Lato, sans-serif;
  background: none;
  border: none;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 100% */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #F1897B;
}

header {
  margin-top: 30px;
  padding: 20px 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.24) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4.5px);
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container nav {
  align-content: center;
}
header .container nav ul {
  display: flex;
  gap: 30px;
}

[data-theme=dark] body {
  background-image: url("/assets/images/dark/bg-image.jpg");
}

body {
  background: url("/assets/images/light/bg-image.jpg") no-repeat top center/contain local;
}

.hero .container {
  padding: 150px 0;
}
.hero .container .first-screen {
  max-width: 530px;
}
.hero .container .first-screen h1 {
  margin-bottom: 20px;
  color: #262A3F;
  font-family: "Playfair Display", serif;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem; /* 118.182% */
}
.hero .container .first-screen h1 i {
  color: #85BBB1;
  font-style: italic;
}
.hero .container .first-screen p {
  margin-bottom: 50px;
  color: #262A3F;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.625rem; /* 144.444% */
  opacity: 0.8;
  max-width: 439px;
}

.statistics-info {
  margin-bottom: 120px;
}
.statistics-info .container {
  border-bottom: 1px solid #E4E4E4;
  position: relative;
}
.statistics-info .container .img-wrap {
  max-width: 570px;
}
.statistics-info .container .text-wrap {
  top: 0;
  transform: translateY(8%);
  left: 34%;
  padding: 45px 3px 45px 0;
  opacity: 0.9;
  background: #FFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
}
.statistics-info .container .text-wrap p {
  color: #262A3F;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.625rem; /* 144.444% */
  opacity: 0.8;
}
.statistics-info .container .text-wrap .stats-list {
  gap: 80px;
  display: flex;
  flex-direction: column;
}
.statistics-info .container .text-wrap .stats-list h2 {
  display: block;
  margin-bottom: 12px;
  font-size: 4.25rem;
  line-height: 4.5rem; /* 105.882% */
  color: #262A3F;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.statistics-info .container .text-wrap .stats-list p {
  display: block;
  text-align: center;
}
.statistics-info .container .text-wrap .content p {
  margin-bottom: 50px;
}
.statistics-info .container .text-wrap .content p:first-child {
  margin-bottom: 35px;
}

/*# sourceMappingURL=index.css.map */
